@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

input[type="number"] {
  
  width: 245px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="number"]:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Estilos generales del input */
input[type="text"] {
  width: 245px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Estilos del input cuando está enfocado */
input[type="text"]:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilos del input cuando está desactivado */
input[type="text"]:disabled {
  background-color: #e9ecef;
}

label1{
    width: 150px;
    padding-right: 10px;
    display:inline-block;
    vertical-align: top;
}

/*
.principal{
    margin-right: 200px;
    margin-left: 200px;
}
*/

textarea {
  background-color: #f2f2f2;
  width: 245px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.callout {
    padding: 20px;
    margin: 20px 0;
    width: 500px;
    border: 1px solid #ddd;
    border-left-width: 5px;
    border-radius: 3px;
  }
  
  .callout-info {
    border-left-color: #00c0ef;
    background-color: #f0faff;
  }

/*Con este estilo conviertes los select como los de boostrap*/

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: #333;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

select:focus {
  outline: none;
  border-color: #4d90fe;
}

select option {
  background-color: #fff;
  color: #333;
}


/*============================================================*/

/*Con este estilo conviertes los botones al succes de boostrap*/
.btnA{
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #28a745;
  border-color: #28a745;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnA:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  
.btnA:focus, .btnA.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  }
  
.btnA:active, .btnA.active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
.btnA.disabled, .btnA:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
/*===============================================================*/

/*Con este estilo conviertes el buscador al estilo de boostrap*/
.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 200px;
}

.search-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.fa {
  font-size: 16px;
  margin-right: 5px;
}

.search-btn:hover {
  background-color: #0069d9;
}

.search-input:hover {
  box-shadow: 0 0 5px #007bff;
}

/*===============================================================*/

/*Con este estilo conviertes la paginacion al estilo de boostrap*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}


/*===============================================================*/

/*Con este estilo conviertes los botones al warning de boostrap*/
.btnB{
    display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffc107;
  border-color: #ffc107;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnB:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
.btnB:focus, .btnB.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
.btnB:active, .btnB.active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
.btnB.disabled, .btnB:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
/*===============================================================*/

/*Con este estilo conviertes los botones de dispositivos de la tabla al warning de boostrap*/
button {
  display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
background-color: #ffc107;
border-color: #ffc107;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

button:focus, button.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

button:active, button.active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

button.disabled, button:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
/*===============================================================*/

/*Con este estilo conviertes  el boton finalizar al estilo de un primary de boostrap*/
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: 0px 3px 0px #0069d9;;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

/*===============================================================*/


/*Con este estilo conviertes los check boxes al estilo de boostrap*/
.form-check-input[type="checkbox"] {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  background-color: #28a745;
  border-color: #28a745;
}

.form-check-label {
  color: #fff;
}

/*===============================================================*/

body{
    /* background-color: #fff59d; */
    background-color: #abb8c3;
    
}

select{
    width: 246px;
}

.container{
    
    margin-right: 200px;
    margin-left: 200px;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

/*Asi se hacen las notas*/

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.addBtn{
    margin: auto;
}
 #tbl {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: auto;
          background-color: #ffffff;
          /* margin: auto; */
        }
 
        #tbl td, #tbl th {
          border-radius: 3px;
          border: 1px solid #ddd;
          padding: 8px;
          
        }
 
        #tbl tr:nth-child(even){background-color: #f2f2f2;}
 
        #tbl tr:hover {background-color: #ddd;}
 
        #tbl th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #294c67;;
            color: white;
          }
 
#tablaE {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: auto;
          background-color: #e2f1f8;
          margin: auto;
        }
 
        #tablaE td, #tablaE th {
          border: 1px solid #ddd;
          padding: 8px;
        }
 
        #tablaE tr:nth-child(even){background-color: #f2f2f2;}
 
        #tablaE tr:hover {background-color: #ddd;}
 
        #tablaE th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #294c67;;
            color: white;
          }

.cajaI{
border-right: 2px solid #6f8691;
/* background-color: #00c0ef;  */
margin-right: 975px;
}

.cajaD{
/* background-color: #218838;  */
margin-right: 300px;

/* Gracias a que la caja esta en absolute las cosas que estan bajo logran acomodarse bien */
position:relative;
left: 550px;
bottom: 675px;
}

