@import "./general.css";
/* header */
.Header
{
    background-color: var(--color-secundario);
    color: var(--color-white);
    padding: 10px 40px 10px  40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* imagen */
.container_img
{
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
    transform-origin: center;
}
.container_img:hover
{
    transform: scale(1.1);
}
/* navegacion*/
.navMenu
{
    display: flex; /* Mostrar los elementos del nav en una línea */
    justify-content: space-between; /* Espacio uniforme entre los elementos del nav */
    align-items: center; /* Centrar verticalmente los elementos del nav */
    height: 60px; /* Altura del nav */
    color: var(--color-white); /* Color de texto del nav */
    font-size: 18px; /* Tamaño de fuente del nav */
    padding: 0 20px; /* Padding horizontal del nav */
    box-sizing: border-box; /* Incluir el padding en el ancho del nav */
}

.navMenu .navLink {
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    transition: all 0.3s ease;
    transform-origin: center; /* Agregar una transición suave */
  }
.navMenu .navLink:hover {
    transform: scale(1.1);
    color: var(--color-hover); /* Cambiar el color del texto de los enlaces */
  }
  /*boton*/
.buttonHeader
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--color-white);
    height: 40px;
    width: 250PX;
    border: 1px;
    border-radius: 30px;
}
.buttonHeader a
{
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
}
/* fin header inicio de booy*/
.bodyContainer
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;  
}
.SectionL
{
    height: 100%;
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.formSection
{
    border-right: 2px solid var(--color-secundario);
}
.Tittle
{
    margin-right: 40px;
    padding: 10px;
    background-color: var(--color-terciario);
    height: auto;
    border-left: 5px solid var(--color-primario);
}
.FormTittle h4
{
    font-weight: bold;
    color: var(--color-black);
}
.SectionR
{
    height: 100%;
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}
.FormCalc
{
    margin: 10px 20px 10px 0px;
    max-width: 500px;
    padding: 20px;
    border: 1px solid var(--color-white-secundario);
    border-radius: 5px;
}
.FormCalc
{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.FormCalc input[type="text"],
input[type="email"],
textarea {
  width: 235px;
  padding: 10px;
  border: 1px solid var(--color-white-secundario);
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
}
.FormCalc select {
    width: 255px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-white-secundario);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-grey);
    background-color: var(--color-white);
  }
  .FormCalc input[type=number] {
    width: 235px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-white-secundario);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-grey);
    background-color: var(--color-white);
  }
  .AddDataButton input[type="button"] {
    background-color: var(--color-success);
    border: none;
    color: var(--color-white);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .AddDataButton input[type="button"]:hover {
    background-color: var(--color-success-black);
  }
  